/* Buffalo Compute - Navbar
--------------------------------------------- */

#header {
  position: relative;
  z-index: 1000;
}

#navbar {
  padding: 8px;
  margin: 0 auto;
}

#navbar .logo {
  height: auto;
  width: auto;
  padding: 0;
}

#navbar .menu {
  align-self: center;
}

#navbar .menu {
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
  align-self: center;
}

#navbar .menu li {
  margin: 0 16px 0 0;
}

#announcement {
  margin: 0;
  background-color: #3993dd;
}

#announcement span {
  padding: 16px;
  text-align: center;
  font-weight: 600;
}

/* Media Queries */

@media screen and (min-width: 800px) {
  #navbar {
    padding: 16px;
  }

  #navbar .logo {
    margin: 0 16px 0 0;
    align-self: center;
  }
}

@media screen and (min-width: 1200px) {
  #navbar {
    max-width: 60vw;
  }
}

@media screen and (min-width: 1400px) {
  #navbar {
    max-width: 60vw;
  }
}
