<div id="swiper">
  <swiper-container>
    <swiper-slide class="flex-row">
      <div class="swiper-content flex-row-item">
        <span class="swiper-title">Buffalo Compute</span>
        <p>
          Buffalo Compute is a cloud computing platform that provides a suite of
          services for developers and businesses.
        </p>
        <fluent-button appearance="accent" class="btn"
          >Learn more</fluent-button
        >
      </div>
    </swiper-slide>
    <swiper-slide class="flex-row">
      <div class="swiper-content flex-row-item">
        <span class="swiper-title">Buffalo Compute</span>
        <p>
          Buffalo Compute is a cloud computing platform that provides a suite of
          services for developers and businesses.
        </p>
        <fluent-button appearance="accent" class="btn"
          >Learn more</fluent-button
        >
      </div>
    </swiper-slide>
  </swiper-container>
</div>
