<footer id="footer">
  <div id="intro" class="flex-row">
    <div class="logo flex-row-item">
      <a
        class=""
        href="/"
        target="_self"
        rel="noreferrer noopener"
        aria-label="Buffalo Compute Link"
        type="link"
        ><img
          src="/assets/BuffaloComputeAppAlt.png"
          loading="eager"
          height="30"
          width="30"
          alt="Buffalo Compute Logo"
      /></a>
    </div>
    <div class="flex-row-item">
      <p>
        Buffalo Compute is a technical community organization focused on
        culture, news, and skill development in Buffalo, NY
      </p>
    </div>
  </div>
  <hr />
  <div id="outro" class="flex-row">
    <div class="follow flex-row-item">
      <ul class="flex-row">
        <li class="flex-row-item"><span>Follow Buffalo Compute</span></li>
        <li class="flex-row-item">A</li>
        <li class="flex-row-item">B</li>
        <li class="flex-row-item">C</li>
      </ul>
    </div>
    <div id="copyright" class="flex-row-item">
      <span>© Buffalo Compute 2024</span>
    </div>
  </div>
</footer>
